<h1>Создание конспекта</h1>
<form class="form" [formGroup]="form" (submit)="onSubmit()">
    <label for="Name">Название</label>
    <input type="text" formControlName="Name" [ngModel] = "conspect?.name" />
    <div class="error" *ngIf="isControlInvalid('Name')">
      Максимальная длинна имени не должна привышать 50 символов
    </div>
    <br/><br/>
  
    <label for="SpecialityNumberId">Номер специальности</label>
    <input type="text"  formControlName="SpecialityNumberId" [ngModel] ="conspect?.specialityNumberId"/>
      <div class="error" *ngIf="isControlInvalid('SpecialityNumberId')">
        Вы ввели некорректный номер специальности
    </div>
    <br/><br/>
  
    <label for="Content">Контент</label>
    <input type="text" formControlName="Content" [ngModel]="conspect?.content"/>
      <div class="error" *ngIf="isControlInvalid('Content')"></div>
    <br/><br/>
    <app-tags> </app-tags>
    <button type="submit">отправить</button>
  </form>
<div *ngFor="let item of conspectItems" >
  <div class="panel panel-default">
      {{item.name}}
    <div class="panel-body" >{{item.content}}</div>

  </div>
</div>