<h1 translate>CreateConspectTitle</h1>
<form class="form" [formGroup]="form" (submit)="onSubmit()">
  <label for="Name" translate>NameConspect</label>
  <input type="text" [formControl]="form.get('Name')" [(ngModel)]="conspect.name" />
  <div class="error" *ngIf="isControlInvalid('Name')" translate>
    ConspectNameInvalid
  </div>
  <br/>
  <label for="SpecialityNumberId" translate>Specialty number</label>
  <input type="text" [formControl]="form.get('SpecialityNumberId')" [(ngModel)]="conspect.specialityNumberId" />
  <div class="error" *ngIf="isControlInvalid('SpecialityNumberId')">
      ConspectNumberInvalid 
  </div>
  <br/>
  <label for="Description" translate>Description</label>
  <input type="text" [formControl]="form.get('Description')" [(ngModel)]="conspect.description" />
  <div class="error" *ngIf="isControlInvalid('Description')"></div>
  <br/>
  <label for="Content" translate>Сontent</label>
  <input type="text" [formControl]="form.get('Content')" [(ngModel)]="conspect.content" />
  <div class="error" *ngIf="isControlInvalid('Content')"></div>
  <br/>
  <app-tags> </app-tags>
  <button type="submit" translate>Create conspect</button>
</form>