<h3>Введите теги</h3>

<div class="example-block">
    <div class="example-block__item">
        <ngx-select 
        [multiple]="true"
        [items]="tagItemsNew"
        [disabled]="ngxDisabled"
      
        placeholder="Не выбраны теги">
        </ngx-select>

        <p></p>
        <div class="alert alert-secondary">
            <pre>{{ngxValue | json}}</pre>
        </div>
        <!-- <div>
            <button class="btn btn-primary" (click)="ngxDisabled = !ngxDisabled">
                {{ngxDisabled ? 'Enable' : 'Disable'}}
            </button>
        </div> -->
    </div>
    
</div>