<!-- <link rel="stylesheet" href="../node_modules/ngx-bar-rating/themes/br-default-theme.css"/> -->
<div>
    <angular-tag-cloud
      [data]="wordData"
      [width]="options.width"
      [height]="options.height"
      [overflow]="options.overflow">
    </angular-tag-cloud>
  </div>
  <div *ngxPermissionsOnly="['user']">
    For user role
  </div>
  <div *ngxPermissionsOnly="['admin']">
    For user admin
  </div>
  <div *ngxPermissionsOnly="['guest']">
    For guest
  </div>

<app-conspects-list></app-conspects-list>